.toolbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(37,88,179);
    padding: 10px;
    transition: .5s all;
    align-items: center;
}
.toolbar button{
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: background-color 500ms, color 500ms;

}
.todo-select{
    width: 10em;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: .2em;
}
.todo-select:focus{
    outline: none;
}
.toolbar-search{
    width: 100%;
    height: 1.6rem;
}
.toolbar h3{
    margin: 0;
    color: white;
}
.t-dark{
    background-color: black;
}
.search-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.toolbar-search-results{
    position: absolute;
    background-color:white;
    top:38px;
    margin-left: 7px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    z-index: 150;

}
.search-result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  3px;
}

.search-result:hover{
    background-color: rgb(184, 184, 184);
}
.toolbar-search-results h4{
    margin: 5px;
}
.toolbar-input-wrapper{
    width: 100%;
    position: relative;
}
.results-open{
    visibility: visible;
    opacity: 1;   
}
.results-closed{
    visibility: hidden;
    opacity: 0;   
}
.toolbar-header{
    cursor: pointer;
}
.toolbar-search-result{
    text-decoration:line-through;
}