.toolbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(37,88,179);
    padding: 10px;
    transition: .5s all;
    align-items: center;
}
.toolbar button{
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: background-color 500ms, color 500ms;

}
.todo-select{
    width: 10em;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: .2em;
}
.todo-select:focus{
    outline: none;
}
.toolbar-search{
    width: 50%;
    height: 1.6rem;
}
.toolbar h3{
    margin: 0;
    color: white;
}
.t-dark{
    background-color: black;
}
.search-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}